.SideBar {
  width: 16vw;
  padding: 1.4rem;
  padding-top: 4rem;
  color: #fff;
  position: fixed;
  background: #222222;
  height: 100vh;
  border-right: 4px solid cadetblue;
}

.e {
  font-size: 1.4rem;
  padding: 1rem;
}

.e:hover {
  background: #3b3b3b;
  cursor: pointer;
}
